<header>
  <div class=wrapper>
          <div class=logo>
              <img src="Untitled.png"/>
          </div>
          <ul class="navigation">
              <li>
                  <a href="#">Login</a>
              </li>
          <li>
                  <a href="#">Sign Up</a>
              </li>  

          </ul>
      </div>
</header>
<section class=abc>
 <div class="content">
     <h1>
      Welcome to the Page
     </h1>
     <p>
     This is the official website of our company.
  </p>
  <button class="button">Read More</button>
 </div>

</section>
<section class="section-block">
 <div class="container">
      <h4>
              Welcome to the Page
      </h4>
      <p>
             This is the official website of our company.
      </p>
 </div>
 <div class="blocks">
     <div class="block-list">
         <div class="bg">
          <span class="icons-section">
          
          </span>
          <h4>
              heading
          </h4>
          <p>
              This is paragraph.
              writtem something.
          </p>
          <a href="#" class="anchor-btn">
              Read more
          </a>
         </div>
     </div>

     <div class="block-list">
      <div class="bg">
       <span class="icons-section">
       
       </span>
       <h4>
           heading
       </h4>
       <p>
           This is paragraph.
           writtem something.
       </p>
       <a href="#" class="anchor-btn">
           Read more
       </a>
      </div>
  </div>


  <div class="block-list">
      <div class="bg">
       <span class="icons-section">
       
       </span>
       <h4>
           heading
       </h4>
       <p>
           This is paragraph.
           writtem something.
       </p>
       <a href="#" class="anchor-btn">
           Read more
       </a>
      </div>
  </div>

 </div>

</section>

<section class="contact_us">
<h1>
  CONTACT US
</h1>
<form>
     <input type="text" name="NAME" placeholder="Name" required>
     <input type="email" name="EMAIL" placeholder="E-mail Address" required>
     <input type="number" name="PHONE" placeholder="Mobile Number" required>
     <input type="text" name="MSG" placeholder="Message" required>
      <button>Submit</button>

 </form>
</section>
<footer>
 <div class="container">
     <div class="part">
         <h2>Names</h2>
      <ul>
          <li>Sarvesh</li>
          <li> Keshav</li>
          <li>Aayush</li>
      </ul>
     </div>

     <div class="part">
         <h2>Names</h2>
          <ul>
                  <li>Sarvesh</li>
                  <li> Keshav</li>
                  <li>Aayush</li>
              </ul>
     </div>
     <div class="part">
         <h2>Names</h2>
          <ul>
                  <li>Sarvesh</li>
                  <li> Keshav</li>
                  <li>Aayush</li>
              </ul>
     </div>

 </div>
</footer>
<section class="copyright">
 <div class="cr">
     <p>&copy;Copyright</p>
 </div>
 
</section>
